Repository khurrumsaleem/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @CoronelBuendia, @je-cook, @tplobo, @DanShort12, @hsaunders1904, @ivanmaione, @alexanderianblair, @DarioV86

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @CoronelBuendia @je-cook @tplobo
*/base/ @je-cook @DanShort12 @hsaunders1904
*/builders/ @DanShort12 @hsaunders1904 @je-cook
*/codes/ @je-cook @ivanmaione @hsaunders1904
*/display/ @ivanmaione @DanShort12
*/equilibria/ @CoronelBuendia @je-cook @alexanderianblair @ivanmaione
*/fuel_cycle/ @CoronelBuendia
*/geometry/ @ivanmaione @CoronelBuendia @je-cook
*/magnetostatics/ @CoronelBuendia @ivanmaione @hsaunders1904
*/materials/ @DanShort12
*/mesh/ @ivanmaione
*/radiation_transport/ @CoronelBuendia @DarioV86
*/utilities/ @je-cook @CoronelBuendia

# Order is important; the last matching pattern takes the most
# precedence. eg js-owner would own all *.js files. Directories and wildcards can be specified etc
# no user can be used to default to global owner
# *.js    @js-owner
# *.go docs@example.com
# /build/logs/ @doctocat @doctocat2
# /build/info/

Create main file organization for Power Cycle
  bluemira/power_cycle/balance_of_plant.py
  bluemira/power_cycle/consumption.py
  bluemira/power_cycle/cycle.py
  bluemira/power_cycle/production.py
  bluemira/power_cycle/steady_state.py
  bluemira/power_cycle/time_dependent.py
  tests/bluemira/power_cycle/test_balance_of_plant.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

PLASMOD integration
  _TIAGO_FILES_/SCRIPTS/steam_props_test.py
  _TIAGO_FILES_/SIMLINKS/plasmod
  examples/codes/run_plasmod_example.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @je-cook, @ivanmaione, @hsaunders1904

PLASMOD integration (notebook run)
  examples/codes/plasmod_input.dat
  examples/codes/plasmod_outputs.dat
  examples/codes/plasmod_profiles.dat
  examples/codes/run_plasmod_example.ipynb
Owners: @je-cook, @ivanmaione, @hsaunders1904

Create file for creation of EUDEMO 2017 (HCPB, ind.) power cycle architecture
  _TIAGO_FILES_/display_implementation.py
  bluemira/power_cycle/EUDEMO_2017_HCPB_indirect.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

added Solovev case
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  examples/equilibria/fem_fixed_boundary/Solovev_example.py
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair, @ivanmaione

added example (draft)
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair, @ivanmaione

minor corrections
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  examples/equilibria/fem_fixed_boundary/Solovev_example.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair, @ivanmaione

initial GS implementation
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair, @ivanmaione

modified JSON comments
  bluemira/codes/plasmod/PLASMOD_DEFAULT_IN.json
  bluemira/codes/plasmod/PLASMOD_DEFAULT_OUT.json
  bluemira/codes/plasmod/api.py
  bluemira/equilibria/fem_fixed_boundary/transport_solver.py
  examples/equilibria/fem_fixed_boundary/transport_solver_tutorial.py
Owners: @je-cook, @ivanmaione, @hsaunders1904, @CoronelBuendia, @alexanderianblair
