Repository khurrumsaleem/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/setup.* @Fusion-Power-Plant-Framework/repo-review
/requirements* @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/pytest.ini @Fusion-Power-Plant-Framework/repo-review
/MANIFEST.in @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/versioneer.py @Fusion-Power-Plant-Framework/repo-review

Create default display_units JSON file
  bluemira/power_cycle/display_units.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

WIP
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/transport_solver.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  examples/equilibria/fem_fixed_boundary/conversion_from_matlab.py
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.py
  examples/equilibria/fem_fixed_boundary/transport_solver_tutorial.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Test JSON commands
  bluemira/power_cycle/cycle.py
  bluemira/power_cycle/display.py
  examples/power_cycle/display_units.json
  tests/bluemira/power_cycle/display_units.json
  tests/bluemira/power_cycle/test_display.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Create DataConverter class
  bluemira/power_cycle/display.py
  tests/bluemira/power_cycle/test_display.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Implement `desired_display_units` method
  bluemira/power_cycle/display.py
  examples/power_cycle/example_display.ipynb
  examples/power_cycle/example_display.py
  tests/bluemira/power_cycle/test_display.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Plasmod problems
  bluemira/codes/plasmod/PLASMOD_DEFAULT_IN.json
  bluemira/codes/plasmod/PLASMOD_DEFAULT_OUT.json
  bluemira/equilibria/fem_fixed_boundary/transport_solver.py
  examples/codes/plasmod_input.dat
  examples/codes/plasmod_outputs.dat
  examples/codes/plasmod_profiles.dat
  examples/equilibria/fem_fixed_boundary/conversion_from_matlab.py
  examples/equilibria/fem_fixed_boundary/example_with_config.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/equilibria-review

Alter branch name
  bluemira/power_cycle/display.py
  examples/power_cycle/example_display.ipynb
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Relocate specific architecture file
  data/power_cycle/EUDEMO_2017_HCPB_indirect.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Create GenericPowerLoad class with 'ramp' model
  bluemira/power_cycle/consumption.py
  bluemira/power_cycle/cycle.py
  bluemira/power_cycle/production.py
  data/power_cycle/EUDEMO2017-HCPB-indirect.json
  data/power_cycle/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Fix display test failure for long git branch name
  tests/base/test_look_and_feel.py
Owners: @Fusion-Power-Plant-Framework/base-review

Attempt to fix with_defaults bug in ParameterFrame
  bluemira/base/parameter.py
  tests/base/test_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

Add files for running UKAEA Power Balance with BLUEMIRA (#789)
  CITATION.cff
  bluemira/codes/ukaea_powerbalance/__init__.py
  bluemira/codes/ukaea_powerbalance/api.py
  bluemira/codes/ukaea_powerbalance/defaults/session_data.h5
  bluemira/codes/ukaea_powerbalance/mapping.py
  examples/codes/run_ukaea_pbm_example.ipynb
  examples/codes/run_ukaea_pbm_example.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review
